<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee Reimbursement</title>
<!--    <link rel="stylesheet" href="/css/style.css">-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1>
            <a href="/">Employee Reimbursement</a>
        </h1>
        <div th:each="reimbursement: ${reimbursements}">
            <p th:text="${reimbursement.type}"></p>
            <p th:text="${reimbursement.status}"></p>
            <p th:text="${reimbursement.description}"></p>
        </div>
<!--        <nav>-->
<!--            <div th:if="${loggedIn}">-->
<!--                <a th:href="@{/dashboard}">dashboard</a>-->
<!--                <a th:href="@{/users/logout}">logout</a>-->
<!--            </div>-->
<!--            <div th:unless="${loggedIn}">-->
<!--                <a th:href="@{/login}">login</a>-->
<!--            </div>-->
<!--        </nav>-->
    </header>

<!--    <main layout:fragment="content">-->
<!--        <p>This is filled by the content template.</p>-->
<!--    </main>-->

    <footer>
        Thanks for visiting!
    </footer>
</div>

</body>
</html>